@import '../../../utilities';

.header{
    background-color: #fff;
    padding: 20px 30px;
    z-index: 9999999999;

    ul{
        li{
            color: $azul;
        }
    }
}

.header_btn{
    a{
        background-color: $calipso;
        color: $blanco;
        padding: 13px 10px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: bold;

        &:hover{
            background-color: $calipso-hover;
        }
    }
}

.sticky-header{
    position: fixed;
    top: 0;
    left: 0;
}

.arrow_menu{
    position: absolute;
    width: 225px;
    top: 80px;
    background-color: $blanco;
    z-index: 999999999999999;
    border-top: 4px solid $lila;
    
    li{
        padding: 20px;
        &:hover{
            color: $lila;
            background-color: rgb(236, 236, 236);
        }

        img{
            filter: invert(88%) sepia(86%) saturate(632%) hue-rotate(131deg) brightness(83%) contrast(90%);
        }
    }
}

.tab-active{
    filter: invert(88%) sepia(86%) saturate(632%) hue-rotate(131deg) brightness(83%) contrast(90%);
}

.bars{
    display: none;
}

.rotateArrow{
    transform: rotate(180deg);
    transition: ease-in-out;
    transition-duration: 0.3s;
    filter: invert(88%) sepia(86%) saturate(632%) hue-rotate(131deg) brightness(83%) contrast(90%);
}

.rotateArrowOut{
    transform: rotate(0deg);
    transition: ease-in-out;
    transition-duration: 0.3s;
    
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    
    .header{
        padding: 10px 20px;
    }
    
    .header_nav_ul{
        flex-direction: column;
        display: none;

        img{
            width: 200px;
        }
    }

    .header_content{
        width: 100%;
    }

    .header_btn{
        display: none;
    }

    .bars{
        display: block;
    }

    .mobile_menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        z-index: 99999999999;

        .logoImg{
            width: 95px;
        }

        .closeImg{
            width: 45px;
        }

        ul{
            width: 100%;
            li{
                width: 100%;
                text-align: center;
                background-color: $lila;
                color: $blanco;
                border-radius: 20px;
                padding: 10px 0;
            }
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){

    .bars{
        display: block;
    }

    .mobile_menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        z-index: 99999999999;

        .logoImg{
            width: 95px;
        }

        .closeImg{
            width: 45px;
        }

        ul{
            width: 100%;
            li{
                width: 100%;
                text-align: center;
                background-color: $lila;
                color: $blanco;
                border-radius: 20px;
                padding: 10px 0;
            }
        }
    }
    
    .header{
        padding: 10px 20px;
    }
    
    .header_btn{
        display: none;
    }

    .header_nav_ul{
        flex-direction: column;
        display: none;

        img{
            width: 200px;
        }
    }

    .header_content{
        width: 100%;
    }

    .header_btn{
        a{
            background-color: $calipso;
            color: $blanco;
            padding: 13px 10px;
            border-radius: 50px;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1280px){

    .bars{
        display: none;
    }

    .header{
        padding: 10px 20px;
    }
    
    .header_nav_ul{
        flex-direction: row;
        display: flex;
        font-size: .8rem;

        img{
            width: 10px;
        }
    }

    .header_content{
        width: 80%;
        justify-content: start;
        gap: 20px;
    }

    .header_btn{
        a{
            background-color: $calipso;
            color: $blanco;
            border-radius: 50px;
            font-size: 1rem;
            font-weight: bold;
        }
    }
}