@import '../../../utilities';

.header{
    padding: 20px 30px;
}

.header_btn{
    a{
        background-color: $calipso;
        color: $blanco;
        padding: 13px 10px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: bold;
    }
}

.arrow_menu{
    position: absolute;
    width: 225px;
    top: 80px;
    background-color: $blanco;
    z-index: 999999999999999;
    border-top: 4px solid $lila;
    
    li{
        padding: 20px;
        &:hover{
            color: $lila;
            background-color: rgb(236, 236, 236);
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    
    .header{
        padding: 10px 20px;
    }
    
    .header_nav_ul{
        flex-direction: column;
        display: none;

        img{
            width: 200px;
        }
    }

    .header_content{
        width: 100%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    
    .header{
        padding: 10px 20px;
    }
    
    .header_nav_ul{
        flex-direction: column;
        display: none;

        img{
            width: 200px;
        }
    }

    .header_content{
        width: 100%;
    }

    .header_btn{
        a{
            background-color: $calipso;
            color: $blanco;
            padding: 13px 10px;
            border-radius: 50px;
            font-size: 16px;
            font-weight: bold;
        }
    }
}