@import '../../utilities';

.hero_title{

    min-height: 430px;

    h1{
        max-width: 800px;
        font-size: 75px;
        font-weight: bold;
        color: $azul;
        line-height: 90px;

        span{
            color: $calipso;
        }
    }

    p{
        color: $azul;
        max-width: 750px;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
    }

    a{
        color: $azul;
        font-weight: 600;  
        border: 2px solid $azul;
        width: fit-content;
        border-radius: 20px;
        padding: 10px 20px;
    }


}

.hero{
    padding: 100px;
}





