@import '../../utilities';

.hero_title{

    height: 500px;
    position: relative;
    left: -30px;
    bottom: 100px;

    max-width: 780px;

    h1{
        font-size: 75px;
        font-weight: bold;
        color: $azul;
        line-height: 90px;

        span{
            color: $calipso;
        }
    }

    p{
        color: $azul;
        max-width: 700px;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        font-family: 'Inter', sans-serif;
    }

    a{
        color: $blanco;
        font-weight: 600;  
        background-color: $lila;
        border: 2px solid $azul;
        width: fit-content;
        border-radius: 20px;
        padding: 10px 20px;

        &:hover{
            background-color: $lila-hover;
        }
    }


}

.video-handler{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(134, 134, 134, 0.607);
    z-index: 9;
}

.react-player{
    width: 1600px !important;
    height: 800px !important;
}

.hero{
    height: 1200px;
    align-items: center;
    background-image: url('./ilustraciones/home/bg_hero.png');
    background-repeat: no-repeat;
    background-position: 790px 2px;
}

.hero{
    position: relative;
    overflow: hidden;
}

.hero_video{
    position: relative;
    left: 65px;
    bottom: 100px;
    overflow: hidden;
    img{
        z-index: -9999;
    }
    
}

.hero_svgs{
    position: absolute;
    top: 0;

    #location{
        position: relative;
        top: 110px;
        left: 220px
    }

    #location1{
        position: relative;
        bottom: 25px;
        left: 540px
    }

    #location2{
        position: relative;
        top: 285px;
        left: 915px
    }

    #location3{
        position: relative;
        top: 620px;
        left: 230px
    }

    #location4{
        position: relative;
        top: 445px;
        left: 500px
    }

    #location5{
        position: relative;
        top: 430px;
        left: 810px;
    }
}

.pointer_line_hero{
    position: absolute;
    bottom: 330px;
    left: 200px;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .hero{
        flex-direction: column;
        padding: 20px;
        position:unset;
        height: auto;
        justify-content: flex-start;
    }

    .hero_svgs{
        display: none;
    }

    .hero_video{
        position:unset;
    }

    .hero_title{
        justify-content: center;
        align-items: center;
        gap: 20px;
        position:unset;
        width: 90%;

        h1{
            max-width: 90%;
            font-size: 2rem;
            line-height: 40px;
        }
    
        p{
            max-width: 90%;
            font-size: 16px;
            line-height: 20px;
        }
    
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .hero{
        flex-direction: column;
        padding: 20px;
        position:unset;
        justify-content: center;
        height: auto;
        margin-bottom: 80px;
    }

    .hero_svgs{
        display: none;
    }

    .hero_video{
        position:unset;
    }

    .hero_title{
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        position: unset;
        width: 90%;
        margin: 0 auto;
        h1{
            max-width: 90%;
            font-size: 2.5rem;
            line-height: 60px;
        }
    
        p{
            max-width: 90%;
            font-size: 1.5rem;
            line-height: 40px;
        }
    
    }
}

@media only screen and (min-width: 769px) and (max-width: 1279px){
    .hero{
        flex-direction: column;
        padding: 20px;
    }

    .hero_svgs{
        display: none;
    }

    .hero_title{
        justify-content: center;
        gap: 20px;
        h1{
            max-width: 90%;
            font-size: 3rem;
            line-height: 60px;
        }
    
        p{
            max-width: 90%;
            font-size: 1.8rem;
            line-height: 40px;
        }
    
    }
}

@media only screen and (min-width: 1281px) and (max-width: 1700px){
    .hero{
        flex-direction: row;
        padding: 20px;
        position:unset;
        justify-content: center;
        height: auto;
        margin-bottom: 80px;
    }

    .hero_svgs{
        display: none;
    }

    .hero_video{
        position:unset;
    }

    .hero_title{
        justify-content: center;
        align-items: start;
        text-align: left;
        gap: 20px;
        position: unset;
        width: 90%;
        margin: 0 auto;
        h1{
            max-width: 90%;
            font-size: 2.5rem;
            line-height: 60px;
        }
    
        p{
            max-width: 90%;
            font-size: 1.5rem;
            line-height: 40px;
        }
    
    }
}

@media only screen and (min-width: 320px) and (max-width: 1858px){
    .pointer_line_hero{
        display: none;
    }
}




