.prefooter_title{

    margin: 100px 0;

    h2{
        color: #173554;
        font-weight: 700;
        font-size: 58px;
        line-height: 87px;
    
        span{
            color: #33CCCC;
        }
    }
}

.paso_paso{
    margin: 200px 0;
}

.paso_paso_img{
    span{
        font-size: 26px;
        font-weight: 700;
        line-height: 31px;
        margin-top: 10px;
    }
}
