@import '../../utilities';

.prefooter_title{

    margin: 100px 0;

    h2{
        color: $azul;
        font-weight: 700;
        font-size: 58px;
        line-height: 87px;
    
        span{
            color: $calipso;
        }
    }
}

.setp_by_step{
    margin: 200px 0;
}

.setp_by_step_img{
    span{
        font-size: 26px;
        font-weight: 700;
        line-height: 31px;
        margin-top: 10px;
    }
}
