@import '../../utilities';

.partners_hero{
    position: relative;
    padding: 20px;
    
    .partners_hero_content{
        height: 500px;
        .partners_title{
            max-width: 640px;
            font-size: 48px;
            font-weight: 700;
            line-height: 72px;
            color: $azul;
            span{
                color: $calipso;
            }
        }
        .partners_p{
            max-width: 640px;
            font-weight: 500;
            font-size: 30px;
            line-height: 45px;
        }
        .bar{
            height: 10px;
            background-color: $amarillo;
            width: 600px;
        }
    }
}

.benefits{
    padding: 50px;

    .bar{
        width: 10px;
        height: 1000px;
        background-color: yellow;
    }

    .benefits_title{
        font-size: 55px;
        font-weight: 700;
        line-height: 82px;
        color: $azul;
        margin: 50px 0;
    }
}

.benefits_card{
    color: $azul;
    h2{
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        max-width: 430px;
    }
    p{
        max-width: 590px;
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        margin: 30px 0;
    }
}

.benefits_card2{
    color: $azul;
    max-width: 590px;
    h2{
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
    }
    p{
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        margin: 30px 0;
    }
}

.partners_logos{
    padding: 50px;

    .partners_logo_title{
        font-size: 48px;
        color: $azul;
        line-height: 72px;
        margin: 80px 0;
        span{
            color: $calipso;
        }
    }
}

.logos{
    gap: 50px;
}

.filters{
    ul{
        li{
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            color: $azul;
            margin: 20px 0;
            outline: none;
        }
    }
}









