@import '../../utilities';

.partners_hero{
    position: relative;
    padding: 20px;
    
    .partners_hero_content{
        height: 500px;
        .partners_title{
            max-width: 640px;
            font-size: 48px;
            font-weight: 700;
            line-height: 72px;
            color: $azul;
            span{
                color: $calipso;
            }
        }
        .partners_p{
            max-width: 640px;
            font-weight: 500;
            font-size: 30px;
            line-height: 45px;
        }
        .bar{
            height: 10px;
            background-color: $amarillo;
            width: 600px;
        }
    }
}

.benefits{
    padding: 50px;

    .bar{
        width: 10px;
        height: 1000px;
        background-color: yellow;
    }

    .benefits_title{
        font-size: 55px;
        font-weight: 700;
        line-height: 82px;
        color: $azul;
        margin: 50px 0;
    }
}

.benefits_card{
    color: $azul;
    h2{
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        max-width: 430px;
    }
    p{
        max-width: 590px;
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        margin: 30px 0;
    }
}

.benefits_card2{
    color: $azul;
    max-width: 590px;
    h2{
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
    }
    p{
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
        margin: 30px 0;
    }
}

.partners_logos{
    padding: 50px;

    .partners_logo_title{
        font-size: 48px;
        color: $azul;
        line-height: 72px;
        margin: 80px 0;
        span{
            color: $calipso;
        }
    }
}

.logos{
    gap: 50px;
}

.filters{
    ul{
        li{
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            color: $azul;
            margin: 20px 0;
            outline: none;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .partners_hero{
        position: relative;
        padding: 20px;
        flex-direction: column;
        
        .partners_hero_content{
            text-align: center;
            align-items: center;
            // height: 500px;
            .partners_title{
                max-width: 90%;
                font-size: 2rem;
                line-height: 40px;
            }
            .partners_p{
                max-width: 90%;
                font-size: 1rem;
                line-height: 25px;
            }
            .bar{
                width: 90%;
            }
        }
    }
    
    .benefits{
        padding: 30px;
        
        .benefits_card_container{
            flex-direction: column;
            text-align: center;
        }

        .bar{
            display: none;
        }
    
        .benefits_title{
            font-size: 2rem;
            line-height: 40px;
            margin: 30px 0;
        }
    }
    
    .benefits_card, .benefits_card2{

        margin: 30px 0;

        h2{
            font-size: 1.5rem;
            line-height: 35px;
        }
        p{
            font-weight: 500;
            font-size: 1rem;
            line-height: 25px;
            margin: 30px 0;
        }
    }
    
    .partners_logos{
        padding: 10px;
    
        .partners_logo_title{
            font-size: 2rem;
            line-height: 35px;
            margin: 20px 0;
        }
    }
    
    .filters_logos{
        flex-direction: column;
        align-items: center;
    }
    
    .filters{
        
        ul{
            display: inline-flex;
            gap: 10px;
            margin: 0 auto;
            li{
                font-size: 0.8rem;
                line-height: 20px;
                margin: 20px 0;
                outline: none;
            }
        }
    }

    .logos{
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;
    }

    .logo{
        img{
            width: 200px;
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    .partners_hero{
        position: relative;
        padding: 20px;
        flex-direction: column;
        
        .partners_hero_content{
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 20px;
            height: auto;
            margin: 20px 0;
            // height: 500px;
            .partners_title{
                max-width: 90%;
                font-size: 2.2rem;
                line-height: 45px;
            }
            .partners_p{
                max-width: 90%;
                font-size: 1.2rem;
                line-height: 30px;
            }
            .bar{
                width: 90%;
            }
        }
    }
    
    .benefits{
        padding: 30px;
        
        .benefits_card_container{
            flex-direction: column;
            text-align: center;
        }

        .bar{
            display: none;
        }
    
        .benefits_title{
            font-size: 2.2rem;
            line-height: 40px;
            margin: 20px 0;
        }
    }
    
    .benefits_card, .benefits_card2{

        margin: 20px auto;
        align-items: center;
        
        h2{
            font-size: 1.8rem;
            line-height: 40px;
        }
        p{
            font-size: 1.2rem;
            line-height: 25px;
            margin: 30px 0;
        }
    }
    
    .partners_logos{
        padding: 10px;
    
        .partners_logo_title{
            font-size: 2.2rem;
            line-height: 35px;
            margin: 20px 0;
        }
    }
    
    .filters_logos{
        flex-direction: column;
        align-items: center;
    }
    
    .filters{
        
        ul{
            display: inline-flex;
            gap: 10px;
            margin: 0 auto;
            li{
                font-size: 1rem;
                line-height: 20px;
                margin: 20px 0;
                outline: none;
            }
        }
    }

    .logos{
        grid-template-columns: repeat(3, 2fr);
        gap: 20px;
    }

    .logo{
        img{
            width: 200px;
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .partners_hero{
        position: relative;
        padding: 20px;
        
        .partners_hero_content{
            max-width: 640px;
            text-align: left;
            align-items: flex-start;
            justify-content: center;
            gap: 20px;
            height: auto;
            margin: 20px 0;
            // height: 500px;

            .partners_title{
                font-size: 2.2rem;
                line-height: 35px;
            }
            .partners_p{
                font-size: 1.2rem;
                line-height: 25px;
            }
            .bar{
                width: 95%;
            }
        }

    }
    
    .benefits{
        padding: 30px;

        .benefits_title{
            font-size: 3rem;
            line-height: 40px;
            margin: 20px 0;
        }
    }

    .benefits_card_container{
        gap: 20px;
        .benefits_card{

            margin: 20px auto;
            align-items: center;
            
            h2{
                font-size: 2rem;
                line-height: 25px;
            }
            p{
                font-size: 1.4rem;
                line-height: 25px;
                margin: 30px 0;
            }
        }
    
        .benefits_card2{
            margin: 20px auto;
            align-items: center;
            
            h2{
                font-size: 2rem;
                line-height: 25px;
                max-width: 90%;
            }
            p{
                font-size: 1.4rem;
                line-height: 25px;
                margin: 30px 0;
                max-width: 90%;
            }
        }

        img{
            width: 300px;
        }

        .bar{
            height: 750px;
        }
    }
    
    
    
    .partners_logos{
        padding: 10px;
    
        .partners_logo_title{
            font-size: 2.4rem;
            line-height: 35px;
            margin: 20px 0;
        }
    }
    
    .filters_logos{
        flex-direction: column;
        align-items: center;
    }
    
    .filters{
        
        ul{
            display: inline-flex;
            gap: 20px;
            margin: 0 auto;
            li{
                font-size: 1.5rem;
                line-height: 20px;
                margin: 20px 0;
                outline: none;
            }
        }
    }

    .logos{
        grid-template-columns: repeat(4, 2fr);
        gap: 20px;
        margin: 20px 0;
    }

    .logo{
        img{
            width: 200px;
        }
    }
}



