* {
  color: #173554;
}
.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tarjeta {
  border: 1px solid #173554;
  border-radius: 25px;
  width: 350px;
  max-width: 350px;
  height: 350px;
  padding: 2rem;
  margin: 3rem 1rem;
  text-align: center;
}
h2 {
  font-size: 25px;
  margin-bottom: 1rem;
  position: relative;
  bottom: 50%;
}
p {
    font-size: 17px;
  font-style: italic;
  position: relative;
  bottom: 50%;
}
.button{
    text-align: center;
    padding: 5px;
    border-radius: 99px;
    background-color: #ddd;
    position: relative;
    bottom: 12.5%;
}
.linkedin{
    position: relative;
    bottom: 65%;
    left: 100%;
}
.profile-pic{
    position: relative;
    border-radius: 99px;
    bottom: 35%;
    left: 27.5%;
}