@import '../../../utilities';

.footer_conteiner{
    background-color: $azul;
    color: $blanco;
    padding: 50px;

    img{
        width: 160px;
    }

    h2{
        font-size: 31px;
        font-weight: 700;
        line-height: 38px;
    }

    span{
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
    }

    .footer_content{
        gap: 30px;
    }
}

.social{
    gap:30px;
}


.logotest{
    width: 52px;
    height: 52px;
    background-color: $blanco;
    border-radius: 50%;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .footer_conteiner{
        background-color: $azul;
        color: $blanco;
        padding: 10px;
        flex-direction: column;
    
        span{
            text-align: center;
        }
    
        .footer_content{
            gap: 30px;
            width: 100%;
            align-items: center;
            margin: 20px 0;
        }
    }
    
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .footer_conteiner{
        background-color: $azul;
        color: $blanco;
        padding: 10px;
        flex-direction: column;
    
        img{
            width: 320px;
        }
    
        h2{
            font-size: 2.2rem;
            line-height: 30px;
        }
    
        span{
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 29px;
            text-align: center;
        }
    
        .footer_content{
            gap: 30px;
            width: 100%;
            align-items: center;
            margin: 20px 0;
        }
    }

    .social{
        justify-content: center;
        img{
            width: 100px;
        }
    }

}