.footer_conteiner{
    background-color: #173554;
    color: #fff;
    padding: 50px;

    img{
        width: 160px;
    }

    h2{
        font-size: 31px;
        font-weight: 700;
        line-height: 38px;
    }

    span{
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
    }

    .footer_content{
        gap: 30px;
    }
}

.social{
    gap:30px;
}


.logotest{
    width: 52px;
    height: 52px;
    background-color: #fff;
    border-radius: 50%;
}