@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
button {
  border: none;
  background-color: #fff;
}
button:hover {
  cursor: pointer;
}

.navBar {
  padding: 20px;
  box-shadow: -1px 1px 5px 0px #cfc6c6;
  -webkit-box-shadow: -1px 1px 5px 0px #cfc6c6;
  -moz-box-shadow: -1px 1px 5px 0px #cfc6c6;
}

.navBar__content {
  gap: 50px;
}

.nav__content__ul {
  gap: 100px;
}
.nav__content__ul button:focus {
  color: #33CCCC;
  border: none;
  outline: none;
}

.logo img {
  width: 130px;
}

.start__free button {
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #33CCCC;
  color: #fff;
}

input[type=range]::-webkit-progress-value {
  background-color: red;
}

.hero {
  padding: 20px;
  margin: 100px 0;
}

.hero__content .hero__title h1 {
  color: #173554;
  font-size: 42px;
  max-width: 500px;
}
.hero__content .hero__title p {
  color: #33CCCC;
  font-size: 26px;
  max-width: 650px;
  margin: 20px 0;
}
.hero__content .hero__title a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #173554;
  color: #fff;
  border-radius: 10px;
  width: 400px;
  height: 65px;
  font-size: 24px;
}
.hero__content .hero__img img {
  width: 400px;
}

.servicios__nav__item {
  gap: 10px;
}
.servicios__nav__item button {
  display: block;
  height: 20px;
  width: 20px;
  background-color: #CCCCCC;
  border-radius: 50%;
}
.servicios__nav__item button:focus-within {
  background-color: #33CCCC;
}
.servicios__nav__item span {
  color: #173554;
}

.servicios__info {
  margin: 100px 0;
  gap: 50px;
}
.servicios__info .servicios__info__img img {
  width: 610px;
}
.servicios__info .servicios__info__title h2 {
  color: #173554;
  font-size: 42px;
  max-width: 500px;
}
.servicios__info .servicios__info__title p {
  color: #33CCCC;
  font-size: 26px;
  max-width: 650px;
  margin: 20px 0;
}
.servicios__info .servicios__info__title a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #173554;
  color: #fff;
  border-radius: 10px;
  width: 400px;
  height: 65px;
  font-size: 24px;
}

.slider {
  width: 1000px;
}

path {
  color: #33CCCC;
}

.planes__intro h2 {
  color: #173554;
  font-size: 48px;
  font-weight: 700;
  max-width: 600px;
  text-align: center;
}
.planes__intro h2 span {
  color: #33CCCC;
}
.planes__intro p {
  max-width: 600px;
  text-align: center;
  font-size: 24px;
  color: #173554;
}

.plan {
  height: 600px;
}
.plan .plan__button a {
  background-color: #173554;
  padding: 10px 50px;
  border-radius: 5px;
  color: #fff;
}

.plan__info .plan__info__li {
  gap: 10px;
}
.plan__info ul li {
  margin: 25px 0;
}

.plan__precio h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #33CCCC;
}
.plan__precio p {
  font-size: 32px;
  color: #173554;
  font-weight: bold;
}
.plan__precio p span {
  font-size: 64px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=App.css.map */
