@import '../../utilities';

.step_nav{
    margin-top: 100px;
    width: 90%;
    padding: 25px;
    border: 3px dashed #A2AEBB;
    border-radius: 40px;
    :first-child{
        background-color: $calipso;
        color: $blanco;
    }

    button{
        padding: 10px 30px;
        border-radius: 30px;
    }

    :focus{
        background-color: $calipso;
        color: $blanco;
    }


}

.services_container{
    padding: 100px;
}

.services_title{
    h1{
        font-size: 75px;
        font-weight: 700;
        line-height: 103px;
        color: $azul;
        max-width: 650px;

        span{
            color: $calipso;
        }
    }
    p{
        font-size: 28px;
        font-weight: 400;
        line-height: 34px;
        color: $azul;
        max-width: 870px;
    }

}

.pickup_points_header{
    background-color: $lila;
    height: 450px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    
    h2{
        font-size: 52px;
        font-weight: 700;
        line-height: 78px;
        color: $blanco;
        max-width: 1100px;
        text-align: center;
    }
}

.bubbles_container{
    position: relative;
    bottom: 220px;
    width: 85%;
}

.bubble{
    width: 370px;
    height: 370px;
    background-color:$azul;
    border-radius: 50%;
    color: $blanco;

    h2{
        font-size: 92px;
        font-weight: 700;
        line-height: 138px;
    }

    p{
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        max-width: 230px;
        text-align: center;
    }
}

.pickup_services_content{

    margin: 200px 0;
    
    h2{
        font-size: 52px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        color:$azul;
        

        span{
            color:$calipso;
        }

    }

    p{
        // max-width: 590px;
        text-align: left;
        font-size: 28px;
        font-weight: 400;
        line-height: 34px;
        color: $azul;

        span{
            font-weight: 700;
        }
    }
}

.pickup_services_img{
    position: relative;

    .camion{
        position: absolute;
        right: 0;
        top: -110px;
    }
}