@import '../../utilities';

.step_nav{
    margin-top: 100px;
    width: 90%;
    padding: 25px;
    border: 3px dashed #A2AEBB;
    border-radius: 40px;
    font-family: 'Inter', sans-serif;
    .calipso-tab-active{
        background-color: $calipso;
        color: $blanco;
    }

    .lila-tab-active{
        background-color: $lila;
        color: $blanco;
    }

    .blue-tab-active{
            background-color: $azul;
            color: $blanco;
    }

    button{
        padding: 10px 30px;
        border-radius: 30px;
    }

}

.services_container{
    padding: 100px;
}

.services_title{
    h1{
        font-size: 75px;
        font-weight: 700;
        line-height: 103px;
        color: $azul;
        max-width: 650px;

        span{
            color: $calipso;
        }
    }
    p{
        font-size: 28px;
        font-weight: 400;
        line-height: 34px;
        color: $azul;
        max-width: 870px;
        font-family: 'Inter', sans-serif;
    }

}

.pickup_points_header{
    background-color: $lila;
    height: 450px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    
    h2{
        font-size: 52px;
        font-weight: 700;
        line-height: 78px;
        color: $blanco;
        max-width: 1100px;
        text-align: center;
    }
}

.bubbles_container{
    position: relative;
    bottom: 220px;
    width: 85%;
}

.bubble{
    width: 370px;
    height: 370px;
    background-color:$azul;
    border-radius: 50%;
    color: $blanco;

    h2{
        font-size: 92px;
        font-weight: 700;
        line-height: 138px;
    }

    p{
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        max-width: 230px;
        text-align: center;
        font-family: 'Inter', sans-serif;
    }
}

#bubble_p2_trazabilidad, #bubble_p2_checkout{
    max-width: 300px;
}

.pickup_services_content{

    margin: 200px 0;
    
    h2{
        font-size: 52px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        color:$azul;
        

        span{
            color:$calipso;
        }

    }

    p{
        // max-width: 590px;
        text-align: left;
        font-size: 28px;
        font-weight: 400;
        line-height: 34px;
        color: $azul;
        font-family: 'Inter', sans-serif;

        span{
            font-weight: 700;
            font-family: 'Inter', sans-serif;
        }
    }
}

.pickup_services_img{
    position: relative;

    .camion{
        position: absolute;
        right: 0;
        top: -110px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .step_nav{
        flex-direction: column;
    }

    .services_container{
        padding: 20px;
        flex-direction: column;
        margin: 50px 0;
    }
    
    .services_title{

        gap: 15px;
        margin-bottom: 20px;

        h1{
            font-size: 1.8rem;
            line-height: 40px;
            max-width: 90%;
            text-align: center;
            margin: 0 auto;
        }
        p{
            font-size: 1rem;
            line-height: 25px;
            max-width: 90%;
            text-align: center;
            margin: 0 auto;
        }
    
    }

    .pickup_points_header{
        height: auto;
        padding: 20px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        
        h2{
            font-size: 1.5rem;
            line-height: 40px;
        }
    }
    
    .bubbles_container{
        width: 100%;
        position: relative;
        bottom: 20px;
        justify-content: space-around;        
    }

    .services_img{
        width: 80%;
    }
    
    .bubble{
        width: 150px;
        height: 150px;
    
        h2{
            font-size: 1.5rem;
            line-height: 40px;
        }
    
        p{
            font-size: 0.6rem;
            line-height: 20px;
            max-width: 80%;
        }
    }

    .pickup_services{
        flex-direction: column;
        width: 100%;
        margin: 100px auto;
        align-items: center;
        gap: 20px;

        .pickup_services_img{
            order: 1;
        }
    }

    .pickup_services_content{

        margin: 0;
        max-width: 90%;
        
        h2{
            font-size: 1.8rem;
            line-height: 35px;
            text-align: center;
            color:$azul;
            margin: 0 auto;
        }
    
        p{
            // max-width: 590px;
            text-align: center;
            font-size: 1rem;
            line-height: 20px;
            margin: 0 auto;
        }

    }

    .shadow-lg{
        box-shadow: 0 0 #0000;
    }

    
    .pickup_services_img{
        img{
            width: 80%;
            margin: 0 auto;
        }
        
        .camion{
            width: 20%;
            top: -20px;
            right: 10%;
        }
    }   
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .step_nav{
        margin-top: 50px;
        width: 95%;
        padding: 15px;
        border: 3px dashed #A2AEBB;
        border-radius: 40px;
    
        button{
            padding: 10px 5px;
            border-radius: 30px;
            font-size: .8rem;
        }
    }

    .services_container{
        padding: 20px;
        flex-direction: column;
        margin: 50px 0;
    }
    
    .services_title{

        gap: 15px;
        margin-bottom: 20px;

        h1{
            font-size: 2rem;
            line-height: 40px;
            max-width: 90%;
            text-align: center;
            margin: 0 auto;
        }
        p{
            font-size: 1.2rem;
            line-height: 25px;
            max-width: 90%;
            text-align: center;
            margin: 0 auto;
        }
    
    }

    .pickup_points_header{
        height: auto;
        padding: 20px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        
        h2{
            font-size: 1.8rem;
            line-height: 40px;
        }
    }
    
    .bubbles_container{
        width: 100%;
        position: relative;
        bottom: 20px;
        justify-content: space-around;        
    }

    .services_img{
        
        img{
            width: 80%;
            margin: 0 auto;
        }
    }
    
    .bubble{
        width: 150px;
        height: 150px;
    
        h2{
            font-size: 1.8rem;
            line-height: 40px;
        }
    
        p{
            font-size: 0.6rem;
            line-height: 20px;
            max-width: 80%;
        }
    }

    .pickup_services{
        flex-direction: column;
        width: 100%;
        margin: 100px auto;
        align-items: center;
        gap: 20px;
    }

    .pickup_services_content{

        margin: 0;
        max-width: 90%;
        
        h2{
            font-size: 2.2rem;
            line-height: 35px;
            text-align: center;
            color:$azul;
            margin: 0 auto;
        }
    
        p{
            // max-width: 590px;
            text-align: center;
            font-size: 1.4rem;
            line-height: 30px;
            margin: 0 auto;
        }

    }

    .shadow-lg{
        box-shadow: 0 0 #0000;
    }

    
    .pickup_services_img{
        order: 1;
        img{
            width: 80%;
            margin: 0 auto;
        }
        
        .camion{
            width: 30%;
            top: -20%;
            right: 52px;
        }
    } 

    #pickup_services_p{
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1280px){
    .step_nav{
        margin-top: 50px;
        width: 95%;
        padding: 15px;
    
        button{
            padding: 10px 5px;
            font-size: .8rem;
        }
    }

    .services_container{
        padding: 20px;
        flex-direction: column;
        margin: 50px 0;
    }
    
    .services_title{

        gap: 25px;
        margin-bottom: 20px;

        h1{
            font-size: 2.2rem;
            line-height: 50px;
            max-width: 90%;
            text-align: center;
            margin: 0 auto;
        }
        p{
            font-size: 1.5rem;
            line-height: 35px;
            max-width: 90%;
            text-align: center;
            margin: 0 auto;
        }
    
    }

    .pickup_points_header{
        height: auto;
        padding: 20px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        
        h2{
            font-size: 2rem;
            line-height: 50px;
        }
    }
    
    .bubbles_container{
        width: 85%;
        position: relative;
        bottom: 20px;
        justify-content: space-between;        
    }

    .services_img{
        img{
            width: 80%;
            margin: 0 auto;
        }
    }
    
    .bubble{
        width: 200px;
        height: 200px;
    
        h2{
            font-size: 2rem;
            line-height: 40px;
        }
    
        p{
            font-size: 1rem;
            line-height: 20px;
            max-width: 80%;
        }
    }

    .pickup_services{
        width: 90%;
        margin: 100px auto;
        align-items: center;
        gap: 20px;
    }

    .pickup_services_content{

        margin: 0;
        max-width: 90%;
        
        h2{
            font-size: 2.5rem;
            line-height: 50px;
            text-align: left;
            color:$azul;
        }
    
        p{
            // max-width: 590px;
            text-align: left;
            font-size: 1.6rem;
            line-height: 35px;
        }

    }

    .shadow-lg{
        box-shadow: 0 0 #0000;
    }

    .pickup_services_img{
        .camion{
            width: 50%;
            top: -28%;
            left: 50%;
        }
    
    }


}