@import '../../utilities';

.carrousel_container{
    margin-bottom: 100px;
}

.carrousel_contaier_title{
    
    h2{
        color:$azul; 
        font-size: 55px;
        line-height: 82px;
        font-weight: bold;
        text-align: center;
        span{
            color:$calipso;
        }
    }

    p{
        color: $azul;
        text-align: center;
        font-weight: 500;
        font-size: 35px;
        line-height: 52px;
        font-family: 'Inter', sans-serif;
    }
}

.carrousel_progress{

    margin: 50px 0;

    .step{
        span{
            width: 25px;
            border-radius: 50%;
            background-color: #E2E2E2;
            margin-right: 0.5rem;
        }
        h3{
            font-family: 'Inter', sans-serif;
        }
    }
}

.span-active{
    background-color: $calipso !important;
}

.span-not-active{
    background-color: #E2E2E2;
}

.slider-home{
    padding: 50px;
}

.mobile_controllers{
    display: none;
}

.line{
    width: 10px;
    height: 2px;
    background-color: #E2E2E2;
    border-radius: 50%;
}

.short_line{
    width: 5px;
    height: 2px;
    background-color: #E2E2E2;
    border-radius: 50%;
}

.slider_arrow{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $lila;
    background-image: url('./ilustraciones/home/arrow_slider.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:hover{
        background-color: $lila-hover;
    }
}

#resHandler{
    transform: rotate(180deg);
}

.video_explanatory_button{
    a{
        background-color: $lila;
        color: $blanco;
        border: 1px solid $azul;
        padding: 10px 20px;
        border-radius: 40px;
        font-size: 24px;

        &:hover{
            background-color: $lila-hover;
        }
    }
}

.slider_content{
    h2{
        max-width: 600px;
    }
}

button:disabled{
    display: none;
}

.test{
    margin: 0 auto;
    gap: 20px;
    h2{
        font-family: 'Inter', sans-serif;
        max-width: 600px;
        font-weight: 500;
        color:$azul;
        font-size: 40px;
        line-height: 60px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px){

    .carrousel_contaier_title{
        
        h2{
            font-size: 2rem;
            line-height: 40px;
            margin-bottom: 10px;
        }
    
        p{
            font-size: 1.5rem;
            line-height: 30px;
        }
    }
    
    .line, .short_line{
        display: none;
    }

    .carrousel_progress{
        font-size: 10px;
        width: 100%;
        justify-content: space-around;
        margin: 30px 0;
    }

    .step{
        span{
            display: none;
        }
    }

    .test{
        margin: 0 auto;
        gap: 20px;
        flex-direction: column;
        
        h2{
            max-width: 90%;
            font-size: 1rem;
            line-height: 20px;
            text-align: center;
        }

        img{
            width: 80%;
        }
    }

    .slider-home{
        padding: 10px;
        flex-direction: column;

        .slider_arrow{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: relative;
        }

    }

    #resHandler, #addHandler{
        display: none;
    }

    .mobile_controllers{
        display: flex;
    }

    .video_explanatory_button{
        margin-top: 50px;

        a{
            background-color: $lila;
            color: $blanco;
            border: 1px solid $azul;
            padding: 5px 10px;
            border-radius: 40px;
            font-size: 1rem;
        }
    }

}

@media only screen and (min-width: 769px) and (max-width: 1280px){

    .carrousel_progress{
        .line, .short_line{
            display: none;
        }

        justify-content: space-around;

    }
    
    .test{
        margin: 0 auto;
        gap: 20px;
        flex-direction: column;
        
        h2{
            max-width: 90%;
            font-size: 2rem;
            line-height: 40px;
            text-align: center;
        }

        img{
            width: 80%;
        }
    }

}